{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="ask-section">
        <h1 style="text-align: center;">Land Guard</h1>
       
    </div>
    <br>
    <br> 
    <div class="row" style="display: flex;">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <a href="#"><strong class="card-text">Land Services</strong></a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <a href="#"><strong class="card-text">Land Locator</strong></a>
            </div>
        </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#"><strong class="card-text">Land Advert</strong></a>
                </div>
            </div>
    </div>
        
        
        
    </div>
    
</div>


{% endblock content %}