<style>
  
</style>

<footer class="footer">
    <div footer__contact>
      <span class="contact">Contact Us</span>

      <ul class="contact-list">
        <li class="list contact-list--1">
          <a href="#" class="contact_link">Twitter</a>
        </li>
        <li class="list contact-list--2">
          <a href="#" class="contact_link">Email</a>
        </li>
        <li class="list contact-list--3">
          <a href="#" class="contact_link">Facebook</a>
        </li>
        <li class="list contact-list--4">Tel: 05753728291</li>
      </ul>
      <span class="copyright">&copy; Israel</span>
    </div>
  </footer>